:root {
  // base
  --font-family: "Manrope", sans-serif;
  --container-width: 1360px;

  // colors
  --body-main-color: #070707;
  --light-color: #fff;
  --grey-color: #f5f5f5;
  --dark-color: #070707;
  --accent-color: #074ab4;
  --text-color: #38424f;
}
